In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt 
import statistics

In [2]:
def insert_time(timestring):
    timestring = "20.05.2021 " + timestring
    timeobject = datetime.datetime.strptime(timestring, '%d.%m.%Y %M:%S.%f')
    milisecs = timeobject.timestamp() * 1000
    return milisecs

In [3]:
colnames = ['Time', 'Node ID', 'Output']
data = pd.read_csv(r"D:\Programmierung\contiki-ng\examples\lab3\lab3 part2 speed 15 log.txt", engine='python', sep="\t", header=None, names=colnames, skiprows=60)
# only_central = part3_9_data[part3_9_data["Node ID"] == "ID:13"]
# only_central = only_central.reset_index(drop=True)
# only_central
data

          Time Node ID                                             Output
0    00:01.694    ID:1   [INFO: App       ] Send value 0 to uplink node 0
1    00:02.694    ID:1   [INFO: App       ] Send value 1 to uplink node 0
2    00:03.694    ID:1   [INFO: App       ] Send value 2 to uplink node 0
3    00:04.694    ID:1   [INFO: App       ] Send value 3 to uplink node 2
4    00:04.787    ID:2  [INFO: App       ] Logged value 3 from mobile ...
..         ...     ...                                                ...
584  04:59.737    ID:6  [INFO: App       ] Logged value 298 from mobil...
585  05:00.694    ID:1  [INFO: App       ] Send value 299 to uplink no...
586  05:00.807    ID:6  [INFO: App       ] Logged value 299 from mobil...
587  05:01.694    ID:1  [INFO: App       ] Send value 300 to uplink no...
588  05:01.901    ID:6  [INFO: App       ] Logged value 300 from mobil...

[589 rows x 3 columns]