In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt 
import statistics

In [2]:
def insert_time(timestring):
    timestring = "20.05.2021 " + timestring
    timeobject = datetime.datetime.strptime(timestring, '%d.%m.%Y %M:%S.%f')
    milisecs = timeobject.timestamp() * 1000
    return milisecs

In [10]:
colnames = ['Time', 'Node ID', 'Output']
part3_9_data = pd.read_csv(r"D:\Programmierung\contiki-ng\examples\lab2\lab2 part4 25 nodes log only data.txt", engine='python', sep="\t", header=None, names=colnames)
only_central = part3_9_data[part3_9_data["Node ID"] == "ID:13"]
only_central = only_central.reset_index(drop=True)
only_central

           Time Node ID                                             Output
0     00:00.316   ID:13        [INFO: App       ] numHopsToCentralNode: 0
1     00:05.338   ID:13  [INFO: App       ] Received sensor value 45 fr...
2     00:05.342   ID:13  [INFO: App       ] Thus received 1 values in t...
3     00:05.529   ID:13  [INFO: App       ] Received sensor value 45 fr...
4     00:05.533   ID:13  [INFO: App       ] Thus received 2 values in t...
...         ...     ...                                                ...
2210  05:05.704   ID:13  [INFO: App       ] Thus received 14 values in ...
2211  05:05.794   ID:13  [INFO: App       ] Received sensor value 8 fro...
2212  05:05.798   ID:13  [INFO: App       ] Thus received 15 values in ...
2213  05:05.810   ID:13  [INFO: App       ] Received sensor value 79 fr...
2214  05:05.814   ID:13  [INFO: App       ] Thus received 16 values in ...

[2215 rows x 3 columns]